@use '../utilities/functions';

.checkbox {
	$this : &;
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;

	&__label {
		padding-left: 40px;
		font-size: 1.1rem;
		position: relative;

		&:hover {
			cursor: pointer;
		}

		&::before {
			position: absolute;
			content: '';
			width: 25px;
			height: 25px;
			background-color: functions.color('light-grey');
			border: 1px solid functions.color('blue');
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			border-radius: 5px;
		}

		#{$this}:checked + & {
			font-weight: 700;
		}

		#{$this}:checked + &::after {
			position: absolute;
			border-radius: 5px;
			content: '';
			width: 21px;
			height: 21px;
			background-color: functions.color('blue');
			top: 50%;
			left: 12px;
			transform: translateY(-50%);
		}
	}
}